services:
  namenode:
    image: apache/hadoop:3.4.1
    hostname: namenode
    command: ["bash", "/tmp/init-namenode.sh"]
    ports:
      - 9870:9870
    volumes:
      - namenode-data:/tmp/hadoop-hadoop/dfs/name
      - ./init-namenode.sh:/tmp/init-namenode.sh
      - ./hadoop-config:/opt/hadoop/etc/hadoop
    user: "root"

  datanode1:
    image: apache/hadoop:3.4.1
    hostname: datanode1
    command: ["hdfs", "datanode"]
    ports:
      - 9864:9864
    volumes:
      - datanode1-data:/tmp/hadoop-hadoop/dfs/data
      - ./hadoop-config:/opt/hadoop/etc/hadoop
    user: "root"
    depends_on:
      - namenode

  datanode2:
    image: apache/hadoop:3.4.1
    hostname: datanode2
    command: ["hdfs", "datanode"]
    ports:
      - 9865:9864
    volumes:
      - datanode2-data:/tmp/hadoop-hadoop/dfs/data
      - ./hadoop-config:/opt/hadoop/etc/hadoop
    user: "root"
    depends_on:
      - namenode

  datanode3:
    image: apache/hadoop:3.4.1
    hostname: datanode3
    command: ["hdfs", "datanode"]
    ports:
      - 9866:9864
    volumes:
      - datanode3-data:/tmp/hadoop-hadoop/dfs/data
      - ./hadoop-config:/opt/hadoop/etc/hadoop
    user: "root"
    depends_on:
      - namenode

  resourcemanager:
    image: apache/hadoop:3.4.1
    hostname: resourcemanager
    command: ["yarn", "resourcemanager"]
    ports:
      - 8088:8088
    volumes:
      - ./hadoop-config:/opt/hadoop/etc/hadoop
    user: "root"
    depends_on:
      - namenode

  nodemanager1:
    image: apache/hadoop:3.4.1
    hostname: nodemanager1
    command: ["yarn", "nodemanager"]
    ports:
      - 8042:8042
    volumes:
      - ./hadoop-config:/opt/hadoop/etc/hadoop
    user: "root"
    depends_on:
      - resourcemanager
      - datanode1

  nodemanager2:
    image: apache/hadoop:3.4.1
    hostname: nodemanager2
    command: ["yarn", "nodemanager"]
    ports:
      - 8043:8042
    volumes:
      - ./hadoop-config:/opt/hadoop/etc/hadoop
    user: "root"
    depends_on:
      - resourcemanager
      - datanode2

  nodemanager3:
    image: apache/hadoop:3.4.1
    hostname: nodemanager3
    command: ["yarn", "nodemanager"]
    ports:
      - 8044:8042
    volumes:
      - ./hadoop-config:/opt/hadoop/etc/hadoop
    user: "root"
    depends_on:
      - resourcemanager
      - datanode3

  jobhistory:
    image: apache/hadoop:3.4.1
    hostname: jobhistory
    command: ["mapred", "historyserver"]
    ports:
      - 19888:19888
    volumes:
      - ./hadoop-config:/opt/hadoop/etc/hadoop
    user: "root"
    depends_on:
      - resourcemanager

volumes:
  namenode-data:
  datanode1-data:
  datanode2-data:
  datanode3-data:
